BasedOnStyle: Google
Language: Cpp
ColumnLimit: 100
Cpp11BracedListStyle: true
IndentWidth: 2
PointerAlignment: Left
SortIncludes: true
TabWidth: 4
UseTab: Never
AllowShortFunctionsOnASingleLine: false